<?xml version="1.0"?>
<odoo>
	<data>
	    <menuitem name="WMM生产废料管理" id="waste_menu_root" sequence="1"/>

		<menuitem name="Page" id="menu_waste_page" parent="waste_menu_root"
			action="action_waste_page" sequence="10"/>
		<menuitem name="Worker" id="menu_waste_worker" parent="waste_menu_root"
			action="action_waste_worker" sequence="15"/>
	</data>
</odoo>